################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/CSharpHighPerf/.vs/CSharpHighPerf/v16
/Source/CSharpHighPerf/AsyncFileReading/obj
/Source/CSharpHighPerf/AsyncFileReading/bin/Debug/netcoreapp2.2
/Source/CSharpHighPerf/Parallel/obj
/Source/CSharpHighPerf/Parallel/bin/Release/netcoreapp2.2
/Source/CSharpHighPerf/TestTasks/bin/Release/netcoreapp2.2
/Source/CSharpHighPerf/TestTasks/obj
/Source/CSharpHighPerf/AsyncCompress/bin/Release/netcoreapp2.2
/Source/CSharpHighPerf/AsyncCompress/obj
/Source/CSharpHighPerf/AsyncIO/bin/Release/netcoreapp2.2
/Source/CSharpHighPerf/AsyncIO/obj
/Source/CSharpHighPerf/FromAsyncIO/obj
/Source/CSharpHighPerf/FromAsyncIO/bin/Release/netcoreapp2.2
/Source/CSharpHighPerf/AsyncAwaitSample/obj
/Source/CSharpHighPerf/InterlockedSample/bin/Release/netcoreapp2.2
/Source/CSharpHighPerf/InterlockedSample/obj
/Source/CSharpHighPerf/LockVariable/bin/Release/netcoreapp2.2
/Source/CSharpHighPerf/LockVariable/obj
